<button (click)="testIam()">Test iam</button>
<input type="file" multiple (change)="upload($event)">

<button (click)="service.send('fetch')">Fetch</button>
<button (click)="service.send('clear')">Clear</button>

<select (change)="change($event)">
  <option *ngFor="let user of this.service.context.users"> 
    {{user.name}}
  </option>
</select>

<form class="m-4  p-4">
  <input type="text" [disabled]="true" class=" bg-green-300 disabled:bg-red-500" >
</form>
 




<div class="wrapper">
  <div class="wide-column">
    <article class="card">
      <header>
        <h2>Balloon G-OPAW 12</h2>
      </header>

      <div class="image"><img src="https://assets.codepen.io/12005/balloons9_copy.jpg"
          alt="a balloon in the shape of a dog"></div>

      <div class="content">
        <p>This special shape balloon is a UK registered aircraft, and has flown at the Bristol International Balloon
          Fiesta. I took this photo however in Albuquerque after landing in a garden after a flight during the Balloon
          Fiesta there. </p>
      </div>

    </article>
  </div>
  <div class="narrow-column">
    <article class="card">
      <header>
        <h2>Balloon G-OPAW</h2>
      </header>

      <div class="image"><img src="https://assets.codepen.io/12005/balloons9_copy.jpg"
          alt="a balloon in the shape of a dog"></div>

      <div class="content">
        <p>This special shape balloon is a UK registered aircraft, and has flown at the Bristol International Balloon
          Fiesta. I took this photo however in Albuquerque after landing in a garden after a flight during the Balloon
          Fiesta there. </p>
      </div>

    </article>
  </div>
</div>

