
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  body {
    font: 1.2em Roboto, sans-serif;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:20px;
  }
  
  .card {
    border: 1px solid black;
    border-radius: 3px;
    display: grid;
    padding: 3px;
  }
  
  .card .image {
    border: 10px solid #000;
    border-radius: 3px;
  }
  
  .card .content {
    padding: 10px;
  }
  
  .card h2 {
    margin: 0;
    padding: 10px;
  }
  
  /* make the two grid items a containment context */
  .wide-column,
  .narrow-column{
    container-type: inline-size;
  }
  
  /* the card is placed as a child of the two grid items, displaying as one or two columns  */
  @container (min-width: 700px) {
    .card {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto 1fr;
      align-items: start;
      column-gap: 20px;
    }
    
    .card h2 {
      padding: 0;
      margin: .5em 0 0 0;
    }
  
    .card header {
      grid-row: 1;
      grid-column: 2;
    }
  
    .card .image {
      grid-row: 1 / 3;
      grid-column: 1;
    }
  
    .card .content {
      grid-column: 2;
      grid-row: 2;
      padding: 0 20px 20px 0;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    :root{
      color-scheme: dark;
    }
  }